---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="email">
  <section class="px-4 pt-8 sm:px-10">
    <div class="w-full">
      <h1 class="text-6xl leading-tight font-serif">
        thep<span class="v-red-dark">a</span>g<span class="v-grey">e</span>turn<span class="v-light-grey">e</span>r25@gm<span class="v-red-berry">a</span>il.c<span class="v-very-light-grey">o</span>m
      </h1>
    </div>
  </section>
</Layout>
